.layout{
    top:0;
    left:0;
    width: 100%;
    height:100%;
    .aside{
        overflow: auto;
        position: absolute;
        left:0;
        top:0;
        width:175px;
        bottom:0;
        a{
            display: block;
            line-height: 40px;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            color: #000;
            border:1px solid #f8f8f8;
            span.anticon{
                color:red;
                padding: 0 10px;
            }
        }
        .active{
            background-color: #ccc;
            color: pink;
        }
    }
    .main{
        position: absolute;
        left:175px;
        top:0;
        bottom:0;
        right:0;
        overflow: auto;
    }
}